* {
	list-style-type: none;
	text-decoration: none;
	margin-left: 10px;
}

.download_2 {
	color: blue;
}

.h6pro {
	font-size: 16px;
}

.h6quepro {
	font-size: 16px;
}

.title {
	color: red;
}

.rendez-vous {
	color: blue;
}

.horaire {
	color: blue;
}

.gege {
	font-size: 16px;
}

.Car {
	font-size: 16px;
}

.blog {
	font-size: 16px;
}

.Der {
	font-size: 16px;
}